<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
<head th:insert="layout :: headerFragment(animes)"></head>

<body>
<div th:insert="layout :: navbarFragment"></div>

<div class="container body-content">

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime: ${animes}">
            <td><img th:src="${anime.getImageUrl()}" height=100 width=100></td>
            <td><a th:href="@{/anime/{id}(id = ${anime.getId()})}"><span th:text="${anime.getName()}"></span></a></td>
            <td th:text="${anime.getStatus()}"/>
            <td th:text="${anime.getStartDate()}"/>
            <td th:text="${anime.getEndDate()}"/>
        </tr>
        </tbody>
    </table>



</div>

<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>

</body>
</html>
