<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html>
<head th:insert="layout :: headerFragment(animes)"></head>

<body>
<div th:insert="layout :: navbarFragment"></div>


<div class="container body-content">

    <form th:action="@{/animes}" method="post" class="w-25">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="epFrom">Episodes From</label>
                <input type="number" class="form-control" id="epFrom" name="episodesFrom">
            </div>
            <div class="form-group col-md-6">
                <label for="epTo">Episodes To</label>
                <input type="number" class="form-control" id="epTo" name="episodesTo">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="dateFrom">Date From</label>
                <input type="date" class="form-control" id="dateFrom" name="startDate">
            </div>
            <div class="form-group col-md-6">
                <label for="dateTo">Date To</label>
                <input type="date" class="form-control" id="dateTo" name="endDate">
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Find</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Number Of Episodes</th>
            <th>Genres</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anime: ${animes}">
            <td><img th:src="${anime.getImageUrl()}" height=100 width=100></td>
            <td><a th:href="@{/anime/{id}(id = ${anime.getId()})}"><span th:text="${anime.getName()}"></span></a></td>
            <td th:text="${anime.getStatus()}"/>
            <td th:text="${anime.getStartDate()}"/>
            <td th:text="${anime.getEndDate()}"/>
            <td th:text="${anime.getNumberOfEpisodes()}"/>
            <td th:text="${anime.getGenres()}"/>
        </tr>
        </tbody>
    </table>


</div>

<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>

</body>
</html>
